{% extends 'base.html' %}

{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'css/CreationButton.css' %}" />

<main class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <!-- Botón para abrir el modal de creación de alerta -->
            <button type="button" class="btn btn-primary creationButton" data-toggle="modal" data-target="#createAlertModal">
                Create New Alert
            </button>
            
            <div class="card card-body mt-3">
                <h4 class="text-center display-7 py-5 text-dark">List of Alerts</h4>
                <ul class="list-group">
                    {% for alert in alerts %}
                    <a class="list-group-item" href="{% url 'alert_detail' alert.id %}">
                        <header class="d-flex justify-content-between">
                            <h5 class="fw-bold text-success display-9">{{ alert.tittle }}</h5>
                            <p>{{ alert.description }}</p>
                        </header>
                    </a>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</main>

<!-- Modal de creación de alerta -->
<div class="modal fade" id="createAlertModal" tabindex="-1" role="dialog" aria-labelledby="createAlertModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createAlertModalLabel">Create New Alert</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- Formulario de creación de alerta -->
                <form action="{% url 'alerts_list' %}" method="POST" enctype="multipart/form-data" name="create-alert-form">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <br>
                    <button type="submit" class="btn btn-primary">
                        Create Alert
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}