{% extends 'base.html' %}

{% block content %}



<main class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <!-- Botón para abrir el modal de creación de alerta -->
            <div class="d-flex justify-content-between mb-3">
                <button type="button" class="btn btn-primary creationButton" data-toggle="modal" data-target="#createAlertModal">
                    Create New Alert
                </button>
                <button type="button" class="btn btn-primary helpButton" data-toggle="modal" data-target="#helpModal">
                    <i class="bi bi-question-circle"></i>
                </button>
            </div>
            <div class="card card-body mt-3">
                <h4 class="text-center display-7 py-5 text-dark">List of Alerts</h4>
                <ul class="list-group">
                    {% for alert in alerts %}
                    <a class="list-group-item" href="{% url 'alert_detail' alert.id %}">
                        <header class="d-flex justify-content-between">
                            <h5 class="fw-bold text-success display-9">{{ alert.tittle }}</h5>
                            <p>{{ alert.description }}</p>
                        </header>
                    </a>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</main>

<!-- Modal de creación de alerta -->
<div class="modal fade" id="createAlertModal" tabindex="-1" role="dialog" aria-labelledby="createAlertModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createAlertModalLabel">Create New Alert</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- Formulario de creación de alerta -->
                <form action="{% url 'alerts_list' %}" method="POST" enctype="multipart/form-data" name="create-alert-form">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="id_tittle">Título de la Alerta</label>
                        <input type="text" class="form-control form-control-sm" id="id_tittle" name="tittle" placeholder="Ingrese el título">
                    </div>
                    <div class="form-group">
                        <label for="id_to">To:</label>
                        <input type="text" class="form-control form-control-sm" id="id_to" name="to" placeholder="Ingrese los números a los cuales enviar las alertas">
                    </div>
                    <div class="form-group">
                        <label for="id_body">Mensaje</label>
                        <textarea class="form-control form-control-sm" id="id_body" name="body" rows="3" placeholder="Ingrese el cuerpo del mensaje"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="id_description">Descripción</label>
                        <textarea class="form-control form-control-sm" id="id_description" name="description" rows="3" placeholder="Ingrese la descripción"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">
                        Create Alert
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal de ayuda -->
<div class="modal fade" id="helpModal" tabindex="-1" role="dialog" aria-labelledby="helpModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="helpModalLabel">Help and Information</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>INFORMACIÓN SOBRE LA PÁGINA</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                <!-- Add a button here to save the help information if needed -->
            </div>
        </div>
    </div>
</div>

{% endblock %}