{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GUAYINI</title>
        
    <link rel="stylesheet" type="text/css" href="{% static 'css/CreationButton.css' %}" />

    <!-- Cargar jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    
    <!-- Cargar Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    
    <!-- Cargar Bootstrap JS (popper.js es necesario para algunos componentes de Bootstrap) -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
      <!-- DateTimePicker -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/locales/bootstrap-datepicker.es.min.js"></script>
    <!-- Material Icons -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
      <!-- FullCalendar -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/fullcalendar.min.css" />
    <script src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/fullcalendar.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/locale/es.js'></script>
</head>
<body class="bg-image " style="background-color: #EBEFF2;">
    <nav class="navbar navbar-dark" style="background-color: #FFFFFF ">
        <div class="container-fluid">
          <button class="navbar-toggler p-3 border-dark" style="background-color: #EBEFF2;" type="button" data-bs-toggle="offcanvas" data-bs-target="#menuLateral">
          <span class="navbar-toggler-icon "></span>
          </button>
          <a class="navbar-brand" href="/">
            <img src="/static/images/LOGO GUAYINI ESCRITO FONDO TRANSPARENTE.png" width="200" height="60" class="d-inline-block align-top" alt="Logo de mi sitio web">
          </a>            
          <section class="offcanvas offcanvas-start bg-dark" id="menuLateral" tabindex="-1" >
            <div class="offcanvas-header" data-bs-theme="dark">
              <img src="/static/images/LOGO GUAYINI ESCRITO FONDO TRANSPARENTE.png" width="220" height="60" class="d-inline-block align-top" alt="Logo de mi sitio web">
              <button
                class="btn-close"
                type="button"
                aria-label="Close"
                data-bs-dismiss="offcanvas"
              ></button>
            </div>
            <div class="offcanvas-body d-flex flex-column justify-content-between px-0"> 
              <ul class="navbar-nav fs-5 justify-content-evenly">
                <li class="nav-item p-4 py-md-1">
                  <a href="/home" class="nav-link"><i class="bi bi-house-fill"></i>
                    Home</a>
                </li>
                {% if user.is_authenticated %}
                <li class="nav-item p-4 py-md-1">
                  <a href="/profile" class="nav-link"><i class="bi bi-person-fill"></i>
                    Profile </a>
                </li>
                <li class="nav-item p-4 py-md-1"> {% block chat %}
                  <a href="/chats" class="nav-link"><i class="bi bi-chat-dots-fill"></i>
                    Chats </a>{% endblock %}
                </li>
                <li class="nav-item p-4 py-md-1">
                  <a href="{% url 'notifications' %}" class="nav-link"><i class="bi bi-bell-fill"></i>
                    Notifications</a>
                </li>                <li class="nav-item p-4 py-md-1">
                  <a href="{% url 'alerts' %}" class="nav-link"><i class="bi bi-exclamation-triangle-fill"></i>
                    Alerts</a>
                </li>
                <li class="nav-item p-4 py-md-1">
                  <a href="{% url 'calendar' %}" class="nav-link"><i class="bi bi-calendar3"></i>
                    Calendar</a>
                </li>
                  <a href="/contacts" class="nav-link"><i class="bi bi-people-fill"></i>
                    Contacts </a>
                </li>
                <li class="nav-item dropend p-4 py-md-1">
                  <a href="" class="nav-link dropdown-toggle" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="bi bi-people-fill"></i> Groups</a>
                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                      <li><h6 class="dropdown-header">Groups options</h6></li>
                      <li><a class="dropdown-item" href="{% url 'groups' %}">Groups</a></li>
                      <li><a class="dropdown-item" href="{% url 'create_groups' %}">Create new groups</a></li>
                    </ul>
                </li>
                <li class="nav-item p-4 py-md-1">
                  <a href="" class="nav-link"><i class="bi bi-graph-up-arrow"></i>
                     Dashboard</a>
                </li>
                <li class="nav-item p-4 py-md-1">
                  <a href="{% url 'create_bot' %}" class="nav-link"><i class="bi bi-robot"></i>
                     BOT's</a>
                </li>
                <li class="nav-item p-4 py-md-1">
                  <a class="nav-link" href="/logout"><i class="bi bi-box-arrow-left"></i> Logout</a>
                </li>
                {% else %}
                <li class="nav-item p-4 py-md-1">
                  <a href="/signin" class="nav-link"><i class="bi bi-box-arrow-right"></i> Login</a>
                </li>
                <li class="nav-item p-4 py-md-1">
                  <a href="/signup" class="nav-link"><i class="bi bi-plus-square"></i> Register</a>
                </li>
                {% endif %}
              </ul>
            </div>  
          </section>
        </div>
      </nav>
      <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
      crossorigin="anonymous"></script>
      <script>
        $(document).ready(function() {
            $('#calendar1').fullCalendar({
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'month,agendaWeek,agendaDay'
                },
                events: '/eventos/',
                locale: 'es',  // Idioma del calendario
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'month,agendaWeek,agendaDay'
                },
                defaultView: 'month',
                editable: true,
                eventClick: function(event) {
                    window.location.href = event.url;
                    return false;
                }
            });
        });
      </script>

{% block content %}
{% endblock %}

</body>
</html>
