{% extends 'base.html' %} {% block content %}

<main class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="card card-body mt-3">
        <h4 class="text-center display-7 py-5 text-dark">List of Bots</h4>
        <ul class="list-group">
          {% for bot in bots %}
          <a class="list-group-item" href="{% url 'bot_detail' bot.bot_id %}">
            <header class="d-flex justify-content-between">
              <h5 class="fw-bold text-success display-9">{{ bot.tittle }}</h5>
              <p>{{ bot.activator }}</p>
            </header>
          </a>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</main>

{% endblock %}
