{% extends 'base.html' %} {% block content %}

<main class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="card card-body mt-3">
        <h4 class="text-center display-7 py-5 text-dark">List of Contacts</h4>
        <ul class="list-group">
          {% for contact in contacts %}
          <a
            class="list-group-item"
            href="{% url 'contact_detail' contact.id %}"
          >
            <header class="d-flex justify-content-between">
              <h5 class="fw-bold text-success display-9">{{ contact.name }}</h5>
              <p>{{ contact.number }}</p>
            </header>
          </a>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</main>

{% endblock %}
