{% extends 'base.html' %}
{% block content %}
<main class="container">
  <div class="row">
    <div class="col-md-8">
      <!-- Columna principal para mostrar los grupos -->
      <div class="card card-body mt-3">
        <h4 class="font-weight-bold py-3 mb-4 text-center">
          Grupos de Notificación
        </h4>
        <div class="row">
          <div class="col-md-12">
            <h5 class="text-center">Grupos de WhatsApp</h5>
            <ul class="list-group">
              {% for group in whatsappgroups %}
              <a
                class="list-group-item"
                href="{% url 'whatsappgroup_detail' group.id %}"
              >
                <header class="d-flex justify-content-between">
                  <h5 class="fw-bold text-success display-9">
                    {{ group.groupname }}
                  </h5>
                </header>
              </a>
              {% endfor %}
            </ul>
          </div>
          <div class="col-md-12 mt-3">
            <h5 class="text-center">Grupos de Emails</h5>
            <ul class="list-group">
              {% for group in mailgroups %}
              <a
                class="list-group-item"
                href="{% url 'mailgroup_detail' group.id %}"
              >
                <header class="d-flex justify-content-between">
                  <h5 class="fw-bold text-success display-9">
                    {{ group.groupname }}
                  </h5>
                </header>
              </a>
              {% endfor %}
            </ul>
          </div>
          <div class="col-md-12 mt-3">
            <h5 class="text-center">Grupos de Llamadas</h5>
            <ul class="list-group">
              {% for group in phonegroups %}
              <a
                class="list-group-item"
                href="{% url 'phonegroup_detail' group.id %}"
              >
                <header class="d-flex justify-content-between">
                  <h5 class="fw-bold text-success display-9">
                    {{ group.groupname }}
                  </h5>
                </header>
              </a>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- Agregar una columna adicional para crear nuevos grupos si es necesario -->
    <div class="col-md-4 card card-body mt-3">
      <ul class="nav nav-tabs mx-auto" id="myTab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="whatsapp-tab" data-toggle="tab" href="#whatsapp" role="tab" aria-controls="whatsapp" aria-selected="true">WhatsApp</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="mail-tab" data-toggle="tab" href="#mail" role="tab" aria-controls="mail" aria-selected="false">Email</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="phone-tab" data-toggle="tab" href="#phone" role="tab" aria-controls="phone" aria-selected="false">Llamadas</a>
        </li>
      </ul>
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="whatsapp" role="tabpanel" aria-labelledby="whatsapp-tab">
          <form method="POST">
            {% csrf_token %}
            {{ whatsapp_form.as_p }}
            <button type="submit" name="whatsapp_form_submit" class="btn btn-primary">Crear Grupo de WhatsApp</button>
          </form>
        </div>
        <div class="tab-pane fade" id="mail" role="tabpanel" aria-labelledby="mail-tab">
          <form method="POST">
            {% csrf_token %}
            {{ mail_form.as_p }}
            <button type="submit" name="mail_form_submit" class="btn btn-primary">Crear Grupo de Email</button>
          </form>
        </div>
        <div class="tab-pane fade" id="phone" role="tabpanel" aria-labelledby="phone-tab">
          <form method="POST">
            {% csrf_token %}
            {{ phone_form.as_p }}
            <button type="submit" name="phone_form_submit" class="btn btn-primary">Crear Grupo de Llamadas</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}
