{% extends 'base.html' %}


{% block content %}


<main class="container py-5">
    <section class="col-md-6 mx-auto">
        <div class="card card-body">
            <h1 class="display-1 text-center text-primary"> GUAYINI </h1>
            <p class="text-center">La mejor forma de programar tus notificaciones</p>
            <div class="text-center">
                <a class="btn btn-primary" href="/signin/"> signin</a>
                <a class="btn btn-primary" href="/signup/"> signup</a>
            </div>
        </div>
    </section>
</main>

{% endblock %}
