{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django GUAYINI application</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">

</head>
<body class="bg-image" style="background-image: url('/static/images/landing_page.jpg')">
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #FFFFFF;">
        <div class="container">
          <a class="navbar-brand" href="/tasks">
            <img src="/static/images/LOGO GUAYINI ESCRITO FONDO BLANCO.png" width="150" height="50" class="d-inline-block align-top" alt="Logo de mi sitio web">
          </a>            
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
              <li class="nav-item">
                <a href="/" class="nav-link">Home</a>
              </li>
              <li class="nav-item">
                <a href="#scroll-target" class="nav-link">Contact us</a>
              </li>
              <li class="nav-item">
                <a href="/signin" class="nav-link">Login</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>


    <main class="container py-5">
        <div class="row justify-content-start">
            <div class="col-8">
                <div class="card card-body mt-3 bg-transparent border-0">
                    <h1 class="text-center text-white"> 
                        Start growing your business through GUAYINI notifications
                    </h1>
                </div>
            </div>
        </div>
        <div class="row justify-content-start">
            <section class="col-4">
                <div class="card card-body">
                    <div style="text-align: center">
                        <img src="/static/images/whatsapp_logo.png" width="50" height="50" alt="">
                    </div>
                    <br>
                    <h4 class="text-center text-primary"> Whatsapp Notification </h4>
                </div>
            </section>
        </div>
        <div class="row">
            <div class="col-4">
                <div class="card card-body mt-3 bg-transparent border-0">
                    <h6 class="text-center text-white"> Communicate through WhatsApp,
                        calls and email with unmatched momentary
                        and scheduled scalability and connectivity.
                        Leverage the platform and create custom
                        multi-use interaction solutions.
                    </h6>
                </div>
            </div>
            <section class="col-4 mt-4">
                <div class="card card-body">
                    <div style="text-align: center">
                        <img src="/static/images/phone_logo.png" width="50" height="50" alt="">
                    </div>
                    <br>
                    <h4 class="text-center text-primary"> Call Alert </h4>
                </div>
            </section>
        </div>
        <div class="row justify-content-start">
            <section class="col-4 mt-3">
                <div class="card card-body">
                    <div style="text-align: center">
                        <img src="/static/images/mail_logo.png" width="50" height="50" alt="">
                    </div>
                    <br>
                    <h4 class="text-center text-primary"> Email Notification </h4>
                </div>
            </section>
        </div>
        <br>
        <div class="row justify-content-center">
            <div class="col-8" id="scroll-target">
                <div class="card card-body mt-3 bg-transparent border-0">
                    <h1 class="text-center text-white"> 
                        Contact us
                    </h1>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-3">
                <div class="card card-body mt-3">
                    <div style="text-align: center;">
                        <img src="/static/images/mail_contact_us_logo.png" width="50" height="30" alt="">
                    </div>
                    <h5 class="text-center text-primary"> 
                        Send us an Email:
                        <h6 class="text-center text-dark">Admcoetec@gmail.com</h6>
                    </h5>
                </div>
            </div>
            <div class="col-3">
                <div class="card card-body mt-3">
                    <div style="text-align: center;">
                        <img src="/static/images/call_contact_us_logo.png" width="30" height="30" alt="">
                    </div>
                    <h5 class="text-center text-primary"> 
                        By phone number:
                        <h6 class="text-center text-dark"> +54 351 648 9834 </h6>
                    </h5>
                </div>
            </div>
        </div>
    
        



    </main>
    
{% block content %}
{% endblock %}

</body>
</html>