{% extends 'base.html' %} {% block content %}

<main class="container">
  <div class="row">
    <link
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"
      rel="stylesheet"
    />
    <div class="container bootdey mt-2">
      <div class="email-app mb-4">
        <nav>
          <a href="{% url 'mails' %}" class="btn btn-danger btn-block"
            >Lista de Emails</a
          >
          <ul class="nav">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'mails' %}"
                ><i class="fa fa-inbox"></i> Programados
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'mail_completed' %}"
                ><i class="fa fa-rocket"></i> Enviados</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"
                ><i class="fa fa-bookmark"></i> Importantes</a
              >
            </li>
          </ul>
        </nav>
        <main class="inbox">
          <div class="toolbar">
            <div class="btn-group">
              <button type="button" class="btn btn-light">
                <span class="fa fa-envelope"></span>
              </button>
              <button type="button" class="btn btn-light">
                <span class="fa fa-star"></span>
              </button>
              <button type="button" class="btn btn-light">
                <span class="fa fa-star-o"></span>
              </button>
              <button type="button" class="btn btn-light">
                <span class="fa fa-bookmark-o"></span>
              </button>
            </div>
            <div class="btn-group">
              <button type="button" class="btn btn-light">
                <span class="fa fa-mail-reply"></span>
              </button>
              <button type="button" class="btn btn-light">
                <span class="fa fa-mail-reply-all"></span>
              </button>
              <button type="button" class="btn btn-light">
                <span class="fa fa-mail-forward"></span>
              </button>
            </div>
            <button type="button" class="btn btn-light">
              <span class="fa fa-trash-o"></span>
            </button>
            <div class="btn-group float-right">
              <button type="button" class="btn btn-light">
                <span class="fa fa-chevron-left"></span>
              </button>
              <button type="button" class="btn btn-light">
                <span class="fa fa-chevron-right"></span>
              </button>
            </div>
          </div>
          <div>
            <h4 class="font-weight-bold py-3 mb-4 text-center">
              Detalle de la notificación programada de Email:
            </h4>
            <form method="POST">
              {% csrf_token %} {{ form.media }}
              <div class="form-group">
                <label for="{{ form.tittle.id_for_label }}">Título:</label>
                {{ form.tittle }}
              </div>
              <div class="form-group">
                <label for="{{ form.subject.id_for_label }}">Asunto:</label>
                <textarea
                  name="{{ form.subject.name }}"
                  id="{{ form.subject.id_for_label }}"
                  class="form-control"
                  rows="2"
                >{{ form.subject.value }}</textarea>
              </div>
              <div class="form-group">
                <label for="{{ form.message.id_for_label }}">Mensaje:</label>
                <textarea
                  name="{{ form.message.name }}"
                  id="{{ form.message.id_for_label }}"
                  class="form-control"
                  rows="2"
                >{{ form.message.value }}</textarea>
              </div>
              <div class="form-group">
                <label for="{{ form.adress.id_for_label }}"
                  >Destinatarios (individuales):</label
                >
                {{ form.adress }}
              </div>
              <div class="form-group">
                <label for="id_groups">Seleccionar Grupos:</label>
                <div id="group-selection-container">
                  {% for grupo in grupos_seleccionados %}
                  <select name="groups[]" class="form-control">
                    <option value="">Selecciona un grupo</option>
                    {% for other_group in grupos %} 
                      <option value="{{ other_group.id }}" {% if other_group.id == grupo.id %}selected{% endif %}>{{ other_group.groupname }}</option>
                    {% endfor %}
                  </select>
                  {% endfor %}
                </div>
                <br />
                <button
                  type="button"
                  id="add-group-button"
                  class="btn btn-primary"
                >
                  Agregar Grupo
                </button>
              </div>
              <div class="form-group">
                <label for="{{ form.dateprogramed.id_for_label }}"
                  >Fecha programada:</label
                >
                {{ form.dateprogramed }}
              </div>
              <div class="form-check">
                <input
                  type="checkbox"
                  name="{{ form.important.name }}"
                  id="{{ form.important.id_for_label }}"
                  class="form-check-input"
                  {%
                  if
                  mail.important
                  %}checked{%
                  endif
                  %}
                />
                <label
                  class="form-check-label"
                  for="{{ form.important.id_for_label }}"
                  >Importante</label
                >
              </div>
              <button class="btn btn-primary">Actualizar</button>
            </form>

            <form action="{% url 'complete_mail' mail.id %}" method="POST">
              {% csrf_token %}
              <button class="btn btn-success">complete</button>
            </form>

            <form action="{% url 'delete_mail' mail.id %}" method="POST">
              {% csrf_token %}
              <button class="btn btn-danger">delete</button>
            </form>
          </div>
        </main>
      </div>
    </div>
  </div>
</main>

<script>
   $(document).ready(function () {
    var groupCount = {{ grupos_seleccionados|length }}; // Comienza con el número de grupos seleccionados
    var gruposSeleccionados = {{ grupos_seleccionados|safe }}; // Obtener grupos seleccionados como objeto JSON

    // Función para agregar una lista desplegable adicional
    function addGroupDropdown(selectedGroupId) {
      var groupSelectHtml = `
        <select name="groups[]" class="form-control">
          <option value="">Selecciona un grupo</option>
          {% for grupo in grupos %}
          <option value="{{ grupo.id }}" {% if grupo.id == selectedGroupId %}selected{% endif %}>{{ grupo.groupname }}</option>
          {% endfor %}
        </select>
      `;

      // Agregar la selección de grupo al contenedor
      $("#group-selection-container").append(groupSelectHtml);
    }

    // Manejar el evento clic en el botón "Agregar Grupo"
    $("#add-group-button").click(function () {
      groupCount++; // Incrementar el contador de grupos

      // Obtener el ID del grupo seleccionado actualmente en la última lista desplegable
      var lastSelectedGroupId = $("select[name='groups[]']:last").val();

      // Agregar una lista desplegable adicional con el mismo grupo seleccionado
      addGroupDropdown(lastSelectedGroupId);
    });

    // Inicialmente, agregar listas desplegables adicionales con los grupos seleccionados
    for (var i = 1; i < groupCount; i++) {
      addGroupDropdown(gruposSeleccionados[i]);
    }
  });
</script>

<script>
  $(document).ready(function () {
    var groupCount = {{ grupos_seleccionados|length }}; // Comienza con el número de grupos seleccionados

    // Manejar el evento clic en el botón "Agregar Grupo"
    $("#add-group-button").click(function () {
      groupCount++; // Incrementar el contador de grupos
      var groupSelectHtml = `
        <select name="groups[]" class="form-control">
          <option value="">Selecciona un grupo</option>
          {% for grupo in grupos %}
          <option value="{{ grupo.id }}">{{ grupo.groupname }}</option>
          {% endfor %}
        </select>
      `;

      // Agregar la selección de grupo al contenedor
      $("#group-selection-container").append(groupSelectHtml);
    });
  });
</script>

{% endblock %}
