{% extends 'base.html' %} {% block content %}

<main>
  <div class="container-fluid row">
    <div class="col-3 mx-auto mt-5">
      <div class="card card-body text-center">
        <p class="fw-bold text-dark">NOTIFICACIONES DE WHATSAPP</p>
        <a href="/tasks/"
          ><img
            src="/static/images/Whatsapp_logo_svg.png"
            width="180"
            height="auto"
            alt=""
        /></a>
      </div>
    </div>
    <div class="col-3 mx-auto mt-5">
      <div class="card card-body text-center">
        <p class="fw-bold text-dark">NOTIFICACIONES DE MAIL</p>
        <a href="/mails/"
          ><img
            src="/static/images/mail_contact_us_logo.png"
            width="245"
            height="auto"
            alt=""
        /></a>
      </div>
    </div>
    <div class="col-3 mx-auto mt-5">
      <div class="card card-body text-center">
        <p class="fw-bold text-dark">NOTIFICACIONES DE LLAMADAS</p>
        <a href="/phones/"
          ><img
            src="/static/images/call_contact_us_logo.png"
            width="180"
            height="auto"
            alt=""
        /></a>
      </div>
    </div>
  </div>
</main>

{% endblock %}
