{% extends 'base.html' %} {% block content %}

<main>
  <div class="row">
    <div class="col-md-4 offset-md-4 mt-3">
      <form action="/signup/" method="POST" class="card card-body text-center">
        <div style="text-align: center">
          <img
            src="/static/images/LOGO GUAYINI ESCRITO FONDO BLANCO.png"
            width="300"
            height="90"
            alt=""
          />
        </div>
        <hr />
        <h4 class="text-center">Crear una cuenta </h4>
        {{error}} {% csrf_token %}
        <div class="mb-3" style="text-align: left">
          <label for="username">Nombre de usuario:</label>
          <input
            type="text"
            name="username"
            id="username"
            class="form-control"
            placeholder="Escriba su nombre de usuario"
          />
        </div>
        <div class="mb-3" style="text-align: left">
          <label for="email">Email:</label>
          <input
            type="email"
            name="email"
            id="email"
            class="form-control"
            placeholder="Escriba su Email"
          />
        </div>
        <div class="mb-3" style="text-align: left">
          <label for="password1">Contraseña:</label>
          <input
            type="password"
            name="password1"
            id="password1"
            class="form-control"
            placeholder="Escriba su contraseña"
          />
        </div>
        <div class="mb-3" style="text-align: left">
          <label for="password2">Repita su contraseña:</label>
          <input
            type="password"
            name="password2"
            id="password2"
            class="form-control"
            placeholder="Confirme su contraseña"
          />
        </div>
        <button class="btn btn-primary">Registrarse</button>
      </form>
    </div>
  </div>
</main>

{% endblock %}
