{% extends 'base.html' %} {% block content %} {{ form.media }}
<main class="container">
  <div class="row">
    <div class="col-md-8">
      <h4 class="font-weight-bold py-3 mb-4 text-center">Notificaciones programadas de WhatsApp</h4>
      <!-- Columna principal para mostrar las listas -->
      <div class="card card-body mt-3">
        <div class="row">
          <div class="col-md-12">
            <h5 class="text-center">Notificaciones pendientes</h5>
            <ul class="list-group">
              {% for task in pending_tasks %}
              <a class="list-group-item" href="{% url 'task_detail' task.id %}">
                <header class="d-flex justify-content-between">
                  {% if task.important %}
                  <h5 class="fw-bold text-success display-9">
                    {{task.tittle}}
                  </h5>
                  {% else %}
                  <h5 class="fw-bold text-success display-9">
                    {{task.tittle}}
                  </h5>
                  {% endif %}
                  <p>{{task.message}}</p>
                </header>
              </a>
              {% endfor %}
            </ul>
          </div>
          <div class="col-md-12 mt-3">
            <h5 class="text-center">Notificaciones completadas</h5>
            <ul class="list-group">
              {% for task in completed_tasks %}
              <a class="list-group-item" href="{% url 'task_detail' task.id %}">
                <header class="d-flex justify-content-between">
                  {% if task.important %}
                  <h5 class="fw-bold text-success display-9">
                    {{task.tittle}}
                  </h5>
                  {% else %}
                  <h5 class="fw-bold text-success display-9">
                    {{task.tittle}}
                  </h5>
                  {% endif %}
                  <p>{{task.message}}</p>
                </header>
              </a>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <!-- Columna para el formulario estático -->
      <div class="card card-body mt-3">
        <h4 class="text-center display-7 py-2 text-dark">
          Crear nueva notificación de WhatsApp
        </h4>
        <!-- Formulario de creación de notificación de WhatsApp -->
        <form
          action="{% url 'tasks' %}"
          method="POST"
          enctype="multipart/form-data"
          name="crear-formulario-WhatsAppNotification"
        >
          {% csrf_token %}
          <label for="id_tittle">Título:</label>
          <input
            type="text"
            name="tittle"
            class="form-control"
            placeholder="Escribe un título"
            maxlength="100"
            required=""
          />

          <label for="id_mensaje">Mensaje:</label>
          <textarea
            name="mensaje"
            cols="10"
            rows="3"
            class="form-control"
            placeholder="Escribe tu mensaje"
          ></textarea>
          <br>
          Destinatarios:
          <br>
          <br>
          <label for="id_destinatario">Invididuales:</label>
          <textarea
            name="destinatario"
            cols="10"
            rows="3"
            class="form-control"
            placeholder="Escribe tu contacto"
          ></textarea>

          <label for="id_grupos">Grupos:</label>
          <textarea
            name="grupos"
            cols="10"
            rows="3"
            class="form-control"
            placeholder="Escribe tu grupo de contactos"
          ></textarea>
          <label for="id_fecha_programada">Fecha programada:</label>
          <div class="input-group dbdp">
            <input
              type="text"
              id="id_fecha_programada"
              data-dbdp-config='{"variant": "datetime", "backend_date_format": "YYYY-MM-DD HH:mm:ss", "options": {"format": "YYYY-MM-DD HH:mm", "showClose": true, "showClear": true, "showTodayButton": true}}'
              data-dbdp-debug=""
              data-name="fecha_programada"
            />

            <div class="input-group-addon input-group-append input-group-text">
              <i class="bi-calendar"></i>
            </div>
          </div>
          <label for="id_importante">Importante:</label>
          <input
            type="checkbox"
            name="importante"
            class="form-check-input m-auto"
            id="id_importante"
          />

          <br />
          <button type="submit" class="btn btn-primary">
            Crear notificación de WhatsApp
          </button>
        </form>
      </div>
    </div>
  </div>
</main>
{% endblock %}
