{% extends 'base.html' %}

{% block content %}

<main class="container">
  <div class="row">
    <div class="col-md-4 offset-md-4">
      {{whatsappgroup.groupname}}
      {{error}}

      <div>
        <form method="POST">
          {% csrf_token %}
          {{whatsappgroupform.as_p}}
  
          <button class="btn btn-primary">
            Update
          </button>
        </form>
  
        <form action="{% url 'delete_whatsappgroup' whatsappgroup.id %}" method="POST">
          {% csrf_token %}
          <button class="btn btn-danger">
            delete
          </button>
      </div>
      
      </form>
    </div>
  </div>

</main>

{% endblock %}