html,
body,
div,
span {
  height: 100%;
  width: 100%;
  overflow: hidden;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: url("https://www.bootdey.com/img/bgy.png") no-repeat fixed center;
  background-size: cover;
}

.pancho-conversation{
  height: 90%;
}

.pancho{
  height: 100px;
}

.fa-2x {
  font-size: 1.5em;
}

.app {
  position: relative;
  overflow: hidden;
  /*height: calc(100% - 38px);*/
  height: calc(100% - 80px);
  padding: 30px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-one {
  background-color: #f7f7f7;
  height: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .06), 0 2px 5px 0 rgba(0, 0, 0, .2);
}

.side {
  padding: 0;
  margin: 0;
  height: 100%;
}
.side-one {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  position: relative;
  display: block;
  top: 0;
}

.side-two {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  z-index: 2;
  position: relative;
  top: -100%;
  left: -100%;
  -webkit-transition: left 0.3s ease;
  transition: left 0.3s ease;

}


.heading {
  padding: 10px 16px 10px 15px;
  margin: 0;
  height: 60px;
  width: 100%;
  background-color: #eee;
  
}

.heading-avatar {
  padding: 0;
  cursor: pointer;

}

.heading-avatar-icon img {
  border-radius: 50%;
  height: 40px;
  width: 40px;
}

.main-container {
  display: grid;
  grid-template-columns: 2.2fr 4fr;
  width: 90vw;  
}

.room-sidebar {
  justify-self: left;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 59px 50px repeat(auto-fit, minmax(73px, 73px));
  width:100%;
  border-right:.75px solid #CCC;
  background-color: white;
}

.room-sidebar-header {
  background-color: #f0f0f0ff;
  display: grid;
  grid-template-columns: 48px auto 37px 37px 37px;
  grid-template-areas: "sb-avatar . sb-status sb-new-chat sb-menu" ;
  gap: 1rem;
  align-items:center;
  padding:.5rem;
}


.sb-avatar {
  grid-area: sb-avatar;
  margin-top:2px;
}

.sb-avatar img {
  width:40px;
  height: 40px;
  border-radius: 50%;
}

.sb-status {
  grid-area: sb-status;
  margin-top:15px;
  color:#4a4a4a;
}

.sb-new-chat {
  grid-area: sb-new-chat;
  margin-top:15px;
  color:#4a4a4a;
}

.sb-menu {
  grid-area: sb-menu;
  margin-top:15px;
  color:#4a4a4a;
}

/* room side bar search or new chat */
.room-sidebar-search-new-chat {
  display: grid;
  align-items: center;
  background-color: #f0f0f0ff; 
  width: 100%;
  padding: 0.40rem .62rem ;
}

.room-sidebar-search-new-chat2 {
  display:grid;
  grid-template-columns: 50px auto;
  box-sizing: border-box;  
  outline:none;
  border-radius: 15px; 
  background-color: white;
}

.room-sidebar-search {
  align-self: end;
  justify-self: center;
}

.room-sidebar-new-chat ::placeholder {
  font-size:.90rem;
  color: #a6a6a6;
}

.room-sidebar-new-chat input[type=text] {
  width: 90%;    
  box-sizing: border-box;  
  outline:none;
  border:0;
  padding: 9px 6px;
}
/* room side bar search or new chat */

/* room side bar groups */
.room-sidebar-groups {
  display:grid;
  grid-template-columns: 49px auto 65px;
  grid-template-areas: "g-img g-msg g-time";
  height:73px;
  border-bottom:.75px solid #EEE; 
  padding: .5rem;
  align-items: center;
  cursor: pointer;
  background-color: white;
}

.room-sidebar-groups-g-img {
  grid-area: g-img;
}

.room-sidebar-groups-g-img img {
  width:48px;
  height: 48px;
  object-fit: cover;
  border-radius: 50%;
}

.room-sidebar-groups-g-msg {
  grid-area: g-msg;
  display:grid;
  padding: .5rem;
}

.room-sidebar-groups-g-msg1 {
  font-size: 1.062rem;
  color: #303030F5;
}

.room-sidebar-groups-g-msg2 {
  font-size: .87rem;
  white-space: nowrap;
  text-overflow: ellipsis; 
  overflow:hidden;
}

.room-sidebar-groups-g-time {
  grid-area: g-time;
  font-size: .70rem;
  color: #a2a2a2;
  align-self: start;
  justify-self: end;
  padding: .5rem;
}
/* room side bar groups */

.room-container__msg { 
  display:grid;
  width: 100%;
  /*min-height: 99vh;
  height:99vh;*/
  grid-template-columns: 1fr;
  grid-template-rows: 59px auto 0px 62px; /* dynamically change to toggle giphy search */
  grid-template-areas: "msg-header"
                       "msg-box"
                       "giphy-search"
                       "msg-input";
  overflow: hidden; /* hide unnecessary scroll */
}

.room-container__preview-img {
  display:grid;
  width: 100%;
  height:99vh;
  grid-template-rows: 59px auto;
  grid-template-areas: "msg-header"
                       "preview-msg-box";
}

.preview-img-box {
  grid-area: preview-msg-box;
}

.msg-header {
  grid-area: msg-header;
  background-color: #EDEDED;
  display: grid;
  grid-template-columns: 42px auto 37px 37px;
  grid-template-areas: "h-avatar h-users h-search h-menu" ;
  align-items:center;
  gap: .7rem;
  padding: 0 1rem;
  border-bottom:.5px solid #CCC;
}

.h-avatar {
  grid-area: h-avatar;
  margin-top: 20px;
}

.h-avatar img {
  width:42px;
  height: 42px;
  object-fit: cover;
  border-radius: 50%;
}

.h-users {
  grid-area: h-users;
  display:grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "h-user-group"
                       "h-user-member";
  white-space: nowrap;
  margin-top: 20px;
  color:#4a4a4a;
}

.h-user-group {
  grid-area: h-user-group;
  font-size: 1rem;
  overflow:hidden; 
  text-overflow: ellipsis;
}

.h-user-member {
  grid-area: h-user-member;
  font-size: .812rem;
  color: #606060ff;
  overflow:hidden; 
  text-overflow: ellipsis;
}

.h-search {
  grid-area: h-search;
  margin-top:30px;
  color:#4a4a4a;
}

svg {
  fill: #919191ff;
  cursor: pointer;
}


.h-menu {
  grid-area: h-menu;
  margin-top:30px;
  color:#4a4a4a;
}

.msg-box {
  grid-area: msg-box;
  padding-left:4rem;
  padding-right:4rem;
  padding-bottom: 4rem;
}

.msg-box--background {
  background: #efe7dd url("https://cloud.githubusercontent.com/assets/398893/15136779/4e765036-1639-11e6-9201-67e728e86f39.jpg") repeat;
  overflow-y: scroll;
}

.giphy-search-show {
  grid-template-rows: 59px auto 300px 62px;
}

.giphy-search {
  grid-area: giphy-search;
  display: grid;
  grid-template-rows: 62px auto;
  grid-template-columns: 1fr;
  grid-template-areas: "ginput"
                       "gresults";
  padding: 1rem;
}

.giphy-search__input input[type=text] {
  display: grid;
  grid-area: ginput;
  width: 100%;
  background-color: #e7e5e5;
  padding: 10px 12px;
  box-sizing: border-box;  
  outline:none;
  border-radius: 4px;
  border:0;
  font-size: .93rem;
}

.giphy-search__results {
  display: grid;
  grid-area: gresults;
  overflow-y: auto;
  overflow-x: hidden;
  gap: .5rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  max-height: 350px;
}

.msg-input {
  grid-area: msg-input;
  padding: 0.2rem;
  display: grid;
  grid-template-columns: 40px 40px 40px auto 40px;
  grid-template-areas: "close emoji gif type-a-message mic";
  align-content: center;
  background-color: #f0f0f0ff;
}

.preview-img {
    display: grid;
    padding:0;
    grid-template-rows: 49px 1fr 40px 1px 100px;
    gap: 1rem;
}

.preview-img__header {
    background-color: #E6E6E6;
    display: grid;
    grid-template-columns: 42px auto;
    align-items: center;
    align-content: center;
    padding-top: 1.9rem;
    padding-bottom: 1.9rem;
    padding-left: 1rem;
}

.preview-img__header__close {
    display: grid; /* need this to remove svg padding bottom */
}


.preview-img__snipped-big {
    width: 100%;
    height: 100%;
    padding: 1rem;
    display: grid;
    justify-content: center;
}

.preview-img__snipped-big__border {
    display:grid;
    justify-content: center;
}

.preview-img__snipped-big__border img {
    height:100%;
    object-fit: cover; 
}


.preview-img__caption {
    justify-self: center;
    width: 75%;
    display: grid;
}

.preview-img__caption input[type="text"] {
    width: 100%;
    box-sizing: border-box;  
    outline:none;
    border:0;
    font-size: 1rem;
    border-radius: 15px;
    background-color: #F0F0F0;
    padding: 12px 12px 11px;
}

.preview-img__line {
    border-bottom: 1.5px solid #F0F0F0;
    width: 90%;
    display: grid;
    height: 0;
    justify-self: center;
}


.preview-img__footer {
   /* background-color: #d9d9d9ff; */
    display: grid;
    grid-template-columns: 1fr 54px 54px 1fr;
    grid-template-areas: ". img-small add-file btn-img-send";
    gap: .5rem;
    padding: 1rem;
}

.preview-img__footer__img-small {
    padding:2px;
    grid-area: img-small;
    width: 100%;
    height: 100%;
}

.preview-img__footer__img-small img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.preview-img__footer__addfile {
    border: 1px solid #CCC;
    border-radius: 5px;
    display: grid;
    grid-area: add-file;
    align-items: center;
    justify-items: center;
    gap: .2rem;
}


.preview-img__footer__button {
    justify-self: end;
    grid-area: btn-img-send;
    padding: 0;
    background-color: #09e85eff;
    border-radius: 50%;
    box-shadow: 0 1px 3px rgba(0,0,0,.4);
    width: 60px;
    height: 60px;
    display:grid;
    align-items: center;
    justify-items: center;

}

.preview-img__footer__button-arrow {
    display: grid;
}


.close {
    grid-area: close;
    padding: 0.5rem;
    justify-self: center;
    align-self:center;
}

.emoji {
    grid-area: emoji;
    padding: 0.5rem;
    justify-self: center;
    align-self:center;
}

.gif {
    grid-area: gif;
    padding: 0.5rem;
    justify-self: center;
    align-self:center;
}

.type-a-message {
    grid-area: type-a-message;
    padding: 0.5rem;
}

.mic {
    grid-area: mic;
    padding: 0.5rem;
    justify-self: center;
    align-self:center;
}


.right-msg-container {
    display:grid;
    grid-template-columns: 1fr 8px;
    padding: .3rem;
}

.left-msg-container {
    display:grid;
    grid-template-columns: 8px 1fr;
    padding: .3rem;
}

.s-tail {
    display: grid; /* tail need to be align start */
}

.r-tail {
   /* justify-self:left; */
    display: grid; /* tail need to be align start */
}

.s-message {
    padding: 0.5rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 20px;
    grid-template-areas: "s-msg"
                         "s-time";

    justify-self:right;
    background-color: #dcf8c6ff;
    border-radius: 7.5px;
    border-top-right-radius: 0;
    /*box-shadow: 0 1px .5px rgb(31, 30, 30),.13); */
    box-shadow: 0 1px .5px rgba(0,0,0,.2);
}

.r-message {
    padding: 0.5rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 20px 1fr;
    grid-template-areas: "r-user"
                         "r-msg"
                         "r-time";

    justify-self:left;
    background-color: white;
    border-radius: 7.5px;
    border-top-left-radius: 0;
    /*box-shadow: 0 1px .5px rgb(31, 30, 30),.13); */
    box-shadow: 0 1px .5px rgba(0,0,0,.2);
}

.s-msg {
    grid-area: s-msg;
    font-size: .90rem;
}

.s-msg img {
    max-width: 330px;
    max-height: 249px;
}

.s-time {
    grid-area: s-time;
    font-size: .70rem;
    justify-self: right;
    color: #a2a2a2;
}

.r-user a {
  text-decoration: none;
  color: #72dbb5ff;
}

.r-user a:hover {
  text-decoration: underline;
  color: #72dbb5ff;
}

.r-user {
    grid-area: r-user;
    font-size: .9rem;
    font-weight: bold;
}

.r-msg {
    grid-area: r-msg;
    font-size: .90rem;
}

.r-msg img {
    max-width: 330px;
    max-height: 249px;
}

.r-time {
    grid-area: r-time;
    font-size: .70rem;
    justify-self: right;
    color: #a2a2a2;
}


.type-a-message input[type="text"] {
    width: 100%;
    padding: 9px 12px 11px;
    box-sizing: border-box;  
    outline:none;
    border-radius: 15px;
    border:0;
    font-size: .93rem;
}


.heading-name {
  padding: 0 !important;
  cursor: pointer;
}

.heading-name-meta {
  font-weight: 700;
  font-size: 100%;
  padding: 5px;
  padding-bottom: 0;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #000;
  display: block;
}
.heading-online {
  display: none;
  padding: 0 5px;
  font-size: 12px;
  color: #93918f;
}
.heading-compose {
  padding: 0;
}

.heading-compose i {
  text-align: center;
  padding: 5px;
  color: #93918f;
  cursor: pointer;
}

.heading-dot {
  padding: 0;
  margin-left: 10px;
}

.heading-dot i {
  text-align: right;
  padding: 5px;
  color: #93918f;
  cursor: pointer;
}

.searchBox {
  padding: 0 !important;
  margin: 0 !important;
  height: 60px;
  width: 100%;
}

.searchBox-inner {
  height: 100%;
  width: 100%;
  padding: 10px !important;
  background-color: #fbfbfb;
}


/*#searchBox-inner input {
  box-shadow: none;
}*/

.searchBox-inner input:focus {
  outline: none;
  border: none;
  box-shadow: none;
}

.sideBar {
  padding: 0 !important;
  margin: 0 !important;
  background-color: #fff;
  overflow-y: auto;
  border: 1px solid #f7f7f7;
  height: calc(100% - 120px);
}

.sideBar-body {
  position: relative;
  padding: 10px !important;
  border-bottom: 1px solid #f7f7f7;
  height: 72px;
  margin: 0 !important;
  cursor: pointer;
}

.sideBar-body:hover {
  background-color: #f2f2f2;
}

.sideBar-avatar {
  text-align: center;
  padding: 0 !important;
}

.avatar-icon img {
  border-radius: 50%;
  height: 49px;
  width: 49px;
}

.sideBar-main {
  padding: 0 !important;
}

.sideBar-main .row {
  padding: 0 !important;
  margin: 0 !important;
}

.sideBar-name {
  padding: 10px !important;
}

.name-meta {
  font-size: 100%;
  padding: 1% !important;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #000;
}

.sideBar-time {
  padding: 10px !important;
}

.time-meta {
  text-align: right;
  font-size: 12px;
  padding: 1% !important;
  color: rgba(0, 0, 0, .4);
  vertical-align: baseline;
}

/*New Message*/

.newMessage {
  padding: 0 !important;
  margin: 0 !important;
  height: 100%;
  position: relative;
  left: -100%;
}
.newMessage-heading {
  padding: 10px 16px 10px 15px !important;
  margin-right: 10px !important;
  height: 100px;
  width: 100%;
  background-color: #00bfa5;
  z-index: 1001;
}

.newMessage-main {
  padding: 10px 16px 0 15px !important;
  margin: 0 !important;
  height: 60px;
  margin-top: 30px !important;
  width: 100%;
  z-index: 1001;
  color: #fff;
}

.newMessage-title {
  font-size: 18px;
  font-weight: 700;
  padding: 10px 5px !important;
}
.newMessage-back {
  text-align: center;
  vertical-align: baseline;
  padding: 12px 5px !important;
  display: block;
  cursor: pointer;
}
.newMessage-back i {
  margin: auto !important;
}

.composeBox {
  margin-right: 10px;
  padding: 0 !important;
  height: 60px;
  width: 100%;
}

.composeBox-inner {
  height: 100%;
  width: 100%;
  padding: 10px !important;
  background-color: #fbfbfb;
}

.composeBox-inner input:focus {
  outline: none;
  border: none;
  box-shadow: none;
}

.compose-sideBar {
  padding: 0 !important;
  margin: 0 !important;
  background-color: #fff;
  overflow-y: auto;
  border: 1px solid #f7f7f7;
  height: calc(100% - 160px);
}

/*Conversation*/

.conversation {
  padding: 0 !important;
  margin: 0 !important;
  height: 100%;
  /*width: 100%;*/
  border-left: 1px solid rgba(0, 0, 0, .08);
  /*overflow-y: auto;*/
}
.flex {
  display: flex;
  flex-direction: column;

}

.message {
  display: flex;
  flex-direction: column;
  justify-items: start;
  padding: 0 !important;
  margin: 0 !important;
  background-size: cover;
  overflow-y: auto;
  border: 1px solid #f7f7f7;
  height: 85%;
}
.message-previous {
  margin : 0 !important;
  padding: 0 !important;
  height: auto;
  width: 100%;
}
.previous {
  font-size: 15px;
  text-align: center;
  padding: 10px !important;
  cursor: pointer;
}
.previous a {
  text-decoration: none;
  font-weight: 700;
}

.message-body {
  margin: 0 !important;
  padding: 0 !important;
  width: auto;
  height: fit-content;
}

.message-main-receiver {
  /*padding: 10px 20px;*/
  height: auto;
  width: auto;
}

.message-main-sender {
  height: auto;
  padding: 3px 20px !important;
  margin-left: 0% !important;
  width: auto;
}

.message-text {
  max-width: 300px;
  height: auto;
  margin: 0 !important;
  padding: 5px !important;
  word-wrap:break-word;
  font-weight: 200;
  font-size: 14px;
  padding-bottom: 0 !important;
}

.message-time {
  height: auto;
  margin: 0 !important;
  margin-left: 50px !important;
  font-size: 12px;
  text-align: right;
  color: #9a9a9a;

}

.receiver {
  height: auto;
  width: auto !important;
  padding: 4px 10px 7px !important;
  border-radius: 10px 10px 10px 0;
  background: #ffffff;
  font-size: 12px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
  word-wrap: break-word;
  display: inline-block;
}

.sender {
  height: auto;
  float: right;
  width: auto !important;
  background: #dcf8c6;
  border-radius: 10px 10px 0 10px;
  padding: 4px 10px 7px !important;
  font-size: 12px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
  display: inline-block;
  word-wrap: break-word;
}


/*Reply*/

.reply {

  height: 60px;
  width: 100%;
  background-color: #f5f1ee;
  padding: 10px 5px 10px 5px !important;
  margin: 0% !important;
  z-index: 1000;
}

.reply-emojis {
  padding: 5px !important;
}

.reply-emojis i {
  text-align: center;
  padding: 5px 5px 5px 5px !important;
  color: #93918f;
  cursor: pointer;
}

.reply-recording {
  padding: 5px !important;
}

.reply-recording i {
  text-align: center;
  padding: 5px !important;
  color: #93918f;
  cursor: pointer;
}

.reply-send {
  padding: 5px !important;
}

.reply-send i {
  text-align: center;
  padding: 5px !important;
  color: #93918f;
  cursor: pointer;
}

.reply-main {
  padding: 2px 5px !important;
}

.reply-main textarea {
  width: 100%;
  resize: none;
  overflow: hidden;
  padding: 5px !important;
  outline: none;
  border: none;
  text-indent: 5px;
  box-shadow: none;
  height: 100%;
  font-size: 16px;
}

.reply-main textarea:focus {
  outline: none;
  border: none;
  text-indent: 5px;
  box-shadow: none;
}

@media screen and (max-width: 700px) {
  .app {
    top: 0;
    height: 100%;
  }
}