/* Estilos para el botón de crear alerta */
.creationButton {
    margin-top: 10px; /* Espacio entre el borde y la navbar */
    margin-left: 0px;
    margin-right: auto;
    background-color: #0d6efd;
    border: 2px solid #0d6efd;
    border-radius: 50%;
    text-align: center;
    color: white;
}

.helpButton {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    background-color: #0d6efd;
    border: 2px solid #0d6efd;
    border-radius: 50%;
    text-align: center;
    color: white;
}

.divButton {
    display: grid;
    grid-template-columns: 1fr, 1fr;
    place-items: center;
}